imageio
imgviz
lpips
matplotlib
open3d==0.18.0
numpy==1.26
numpy-quaternion
opencv-contrib-python==4.10.0.82
opencv-python==4.10.0.82
Pillow
plyfile
pybind11-stubgen
pytorch-msssim
pyyaml
rospkg
torchmetrics
tqdm
trimesh
glfw
PyOpenGL
PyGLM
munch
einops
pymeshlab
# submodules/Grounded-SAM-2 related
supervision
transformers==4.50.3
yapf
pycocotools
timm
git+https://github.com/facebookresearch/pytorch3d.git
git+https://github.com/eriksandstroem/evaluate_3d_reconstruction_lib.git